@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
}

body{
  background: rgb(18, 18, 18);
}

.btn::after{
  position: absolute;
  content: ' ';
  border-radius: 999px;
  background: rgb(234, 179, 8);
  width: 0;
  top: 0;
  height: 100%;
  left: 92%;
  z-index: -1;
  transition: all 0.3s;
}

.btn:hover::after{
  width: 100%;
  left: 0;
}

.contactlinks:hover{
  color: rgb(237, 179, 8);
}


